absl_py==2.0.0+computecanada
accelerate==0.21.0+computecanada
aiohttp==3.8.4+computecanada
aiosignal==1.3.1+computecanada
annotated_types==0.6.0+computecanada
anyio==4.0.0+computecanada
arff==0.9+computecanada
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
arrow==1.3.0+computecanada
asttokens==2.4.1+computecanada
async_generator==1.10+computecanada
async_lru==2.0.4+computecanada
async_timeout==4.0.3+computecanada
attrs==23.1.0+computecanada
Babel==2.13.1+computecanada
backcall==0.2.0+computecanada
backports-abc==0.5+computecanada
backports.shutil_get_terminal_size==1.0.0+computecanada
bcrypt==4.0.1+computecanada
beautifulsoup4==4.12.2+computecanada
bitarray==2.8.1+computecanada
bitstring==4.1.1+computecanada
bleach==6.0.0+computecanada
# bllm-cuda==0.0.0
certifi==2023.7.22+computecanada
cffi==1.15.1+computecanada
chardet==5.2.0+computecanada
charset_normalizer==3.2.0+computecanada
click==8.1.7+computecanada
colorama==0.4.6+computecanada
comm==0.2.0+computecanada
contourpy==1.1.0+computecanada
cryptography==39.0.1+computecanada
cycler==0.11.0+computecanada
Cython==0.29.36+computecanada
DataProperty==1.0.1
datasets==2.14.7+computecanada
deap==1.4.1+computecanada
debugpy==1.8.0+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
dill==0.3.7+computecanada
distro==1.8.0+computecanada
dnspython==2.4.2+computecanada
ecdsa==0.18.0+computecanada
einops==0.7.0+computecanada
entrypoints==0.4+computecanada
exceptiongroup==1.1.3+computecanada
executing==2.0.1+computecanada
fastjsonschema==2.18.1+computecanada
filelock==3.12.4+computecanada
flash_attn==2.2.0+computecanada
fonttools==4.42.1+computecanada
fqdn==1.5.1+computecanada
frozenlist==1.3.3+computecanada
fsspec==2023.10.0+computecanada
funcsigs==1.0.2+computecanada
h11==0.14.0+computecanada
httpcore==1.0.2
httpx==0.25.2
huggingface_hub==0.16.4+computecanada
idna==3.4+computecanada
importlib_metadata==6.8.0+computecanada
importlib_resources==6.0.1+computecanada
ipykernel==6.27.0+computecanada
ipython==8.17.2+computecanada
ipython_genutils==0.2.0+computecanada
isoduration==20.11.0+computecanada
jedi==0.19.1+computecanada
Jinja2==3.1.2+computecanada
joblib==1.3.2+computecanada
json5==0.9.14+computecanada
jsonlines==4.0.0
jsonpointer==2.4+computecanada
jsonschema==4.20.0+computecanada
jsonschema_specifications==2023.11.2+computecanada
jupyter_client==8.4.0+computecanada
jupyter_core==5.5.0+computecanada
jupyter_events==0.7.0+computecanada
jupyter_lsp==2.2.0+computecanada
jupyter_server==2.7.3+computecanada
jupyter_server_terminals==0.4.4+computecanada
jupyterlab==4.0.7+computecanada
jupyterlab_pygments==0.2.2+computecanada
jupyterlab_server==2.25.0+computecanada
jupyterlmod==4.0.3
kiwisolver==1.4.5+computecanada
lit==17.0.1+computecanada
lm-eval==0.3.0
lockfile==0.12.2+computecanada
MarkupSafe==2.1.3+computecanada
matplotlib==3.7.2+computecanada
matplotlib_inline==0.1.6+computecanada
mbstrdecoder==1.1.3
mistune==3.0.2+computecanada
mock==5.1.0+computecanada
mpmath==1.3.0+computecanada
multidict==6.0.4+computecanada
multiprocess==0.70.15+computecanada
nbclient==0.8.0+computecanada
nbconvert==7.9.2+computecanada
nbformat==5.9.2+computecanada
nest_asyncio==1.5.8+computecanada
netaddr==0.8.0+computecanada
netifaces==0.11.0+computecanada
networkx==3.2.1+computecanada
ninja==1.11.1+computecanada
nltk==3.8.1+computecanada
nose==1.3.7+computecanada
notebook_shim==0.2.3+computecanada
numexpr==2.8.4+computecanada
numpy==1.25.2+computecanada
openai==1.3.8
overrides==7.4.0+computecanada
packaging==23.2+computecanada
pandas==2.1.0+computecanada
pandocfilters==1.5.0+computecanada
paramiko==3.3.1+computecanada
parso==0.8.3+computecanada
path==16.7.1+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.7.post1+computecanada
pathvalidate==3.2.0
paycheck==1.0.2+computecanada
pbr==5.11.1+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==10.0.0+computecanada
pkgutil_resolve_name==1.3.10+computecanada
platformdirs==3.10.0+computecanada
portalocker==2.8.2
primefac==2.0.12
prometheus_client==0.17.1+computecanada
prompt_toolkit==3.0.41+computecanada
protobuf==4.22.2+computecanada
psutil==5.9.5+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pyarrow==11.0.0
pyarrow_hotfix==0.6+computecanada
pybind11==2.11.1+computecanada
pycountry==23.12.7
pycparser==2.21+computecanada
pydantic==2.5.2
pydantic_core==2.14.5
pygments==2.17.2+computecanada
PyNaCl==1.5.0+computecanada
pyparsing==3.0.9+computecanada
pyrsistent==0.19.3+computecanada
pytablewriter==1.2.0
python-dateutil==2.8.2+computecanada
python_json_logger==2.0.7+computecanada
pytz==2023.3+computecanada
PyYAML==6.0.1+computecanada
pyzmq==25.1.1+computecanada
# quiptools-cuda==0.0.0
referencing==0.31.1+computecanada
regex==2023.8.8+computecanada
requests==2.31.0+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rouge_score==0.1.2+computecanada
rpds_py==0.10.0+computecanada
sacrebleu==1.5.0+computecanada
safetensors==0.3.3+computecanada
scikit_learn==1.3.0+computecanada
scipy==1.11.2+computecanada
Send2Trash==1.8.2+computecanada
sentencepiece==0.1.99+computecanada
simplegeneric==0.8.1+computecanada
singledispatch==4.1.0+computecanada
six==1.16.0+computecanada
sniffio==1.3.0+computecanada
soupsieve==2.5+computecanada
sqlitedict==2.0.0+computecanada
stack_data==0.6.3+computecanada
sympy==1.12+computecanada
tabledata==1.3.3
tcolorpy==0.1.4
terminado==0.17.1+computecanada
testpath==0.6.0+computecanada
texttable==1.7.0+computecanada
threadpoolctl==3.2.0+computecanada
tinycss2==1.2.1+computecanada
tokenizers==0.14.0+computecanada
toml==0.10.2+computecanada
tomli==2.0.1+computecanada
torch==2.0.1+computecanada
tornado==6.3.3+computecanada
tqdm==4.66.1+computecanada
tqdm_multiprocess==0.0.11+computecanada
traitlets==5.13.0+computecanada
transformers==4.35.2+computecanada
triton==2.0.0+computecanada
typepy==1.3.2
types_python_dateutil==2.8.19.14+computecanada
typing_extensions==4.8.0+computecanada
tzdata==2023.3+computecanada
uri_template==1.3.0+computecanada
urllib3==2.1.0+computecanada
wcwidth==0.2.12+computecanada
webcolors==1.13+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.6.4+computecanada
xxhash==3.2.0+computecanada
yarl==1.8.2+computecanada
zipp==3.16.2+computecanada
zstandard==0.20.0+computecanada
